<style>
	.ls-app-wraps{
		display:flex;
	}
	.ls-app-wraps h4{
		margin-left:10px; margin-top:10px;
	}
	.ls-app-wraps img{
		height:37px;
	}
	.ls-app-descs{
		margin-left:5px;
	}
	.ls-app-button{
		text-align:left; width:100%;
	}
	.ls-app-button span{
		font-weight:bold; color:#5E94B6;
	} 
	.ls-hide-button{
		display:none;
	}
</style>

<h2>Louisiana</h2>
<div>
    Freshwater Network.org is a decision support tool that incorporates the best available science and local data to enable communities and conservation practitioners to identify nature-based solutions for enhancing resilience and reducing risk where possible. For additional project information, visit the <a href="http://freshwaternetwork.org/" target="_blank">Freshwater Network home page</a>.
</div>

<h3>Get Started</h3>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/regional-planning.png">
		<h4 class="color-primary">Map Layers</h4>
	</div>
	<div class="ls-app-descs">
		View and interact with freshwater data layers including: dams, rivers, USGS and NOAA stream gages, watersheds, wetlands, groundwater aquifers, water wells, political boundaries, managed areas and land cover.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="regional-planning"></button>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/hydroFlow.png">
		<h4 class="color-primary">Hydro Flows</h4>
	</div>
	<div class="ls-app-descs">
		Description of the Hydro Flows app.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="HydroFlow"></button>

<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/OysterFlow.png">
		<h4 class="color-primary">Oyster Flows</h4>
	</div>	
	<div class="ls-app-descs">
		Investigate the relationship between river discharge and the health of oyster reefs over 100 miles away.  Oysters thrive in estuaries where fresh water discharges from the mouth of the river into the salty sea. The mix of salt and fresh water must be just right to create the proper salinity for oyster production. With Oyster Flows, we can simulate an alteration to the discharge regime and estimate the effect on oyster reefs downstream.
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="OysterFlow"></button>

<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/water-quality.png">
		<h4 class="color-primary">Water Quality Resource Inventory</h4>
	</div>
	<div class="ls-app-descs">
		View spatial concentrations and temporal trends for water quality traits such as Dissolved Oxygen, Total Dissolved Solids, Nitrogen and Phosphorus. Spatial view maps concentrations of water quality sample data within 8-digit HUC watersheds.  Temporal view provides monthly and yearly mean value for traits at each sampling station. Additionally, 303d designations are mapped to LDEQ subsegments in the Impaired Watersheds View.
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="water-quality"></button>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/hydrologic-alterations.png">
		<h4 class="color-primary">Hydrologic Alterations</h4>
	</div>
	<div class="ls-app-descs">
		Visualize alterations to hydrologic networks such as dams, reservoirs, canals and channelized rivers. We have also conducted alteration assessments for metrics such as dams/mi2, dam storage, channelization and canal intensity for HUC 8 and HUC 12 watersheds, LDEQ subsegments, Parishes and Congressional Districts.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="hydrologic-alterations"></button>

<script>
	$(".ls-app-button").click(function(c){
		$(c.currentTarget).next().trigger("click")
	})
</script>
