<style>
	.ls-app-wraps{
		display:flex;
	}
	.ls-app-wraps h4{
		margin-left:10px; margin-top:10px;
	}
	.ls-app-wraps img{
		height:37px;
	}
	.ls-app-descs{
		margin-left:5px;
	}
	.ls-app-button{
		text-align:left; width:100%;
	}
	.ls-app-button span{
		font-weight:bold; color:#5E94B6;
	} 
	.ls-hide-button{
		display:none;
	}
</style>

<h2>Louisiana</h2>
<div>
    The Louisiana Freshwater Assessment is a multi-tool platform that provides a wealth of information on the quality and quantity of water flowing down Louisiana’s bayous, rivers and streams and the potential effects of future changes in climate and water use on that water flow. For additional project information, visit the <a href="https://freshwaternetwork.org/" target="_blank"><b>freshwatenetwork.org</b></a>.
</div>

<h3>Get Started</h3>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/hydroFlow.png">
		<h4 class="color-primary">Hydro Flows</h4>
	</div>
	<div class="ls-app-descs">
		A statewide hydrologic model for Louisiana’s watersheds. View and interact with modeled hydrologic flow data for all Louisiana catchments excluding the coastal zone. Over 40 years of flow metrics, including 1, 3, 7, 30 and 90 day minimum and maximum flows, zero flow days and more. View time series data including future climate change and projected water use.
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="HydroFlow"></button>

<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/OysterFlow.png">
		<h4 class="color-primary">Oyster Flows</h4>
	</div>	
	<div class="ls-app-descs">
		Investigate the relationship between river discharge and the health of oyster reefs over 100 miles away.  Oysters thrive in estuaries where fresh water discharges from the mouth of the river into the salty sea. The mix of salt and fresh water must be just right to create the proper salinity for oyster production. With Oyster Flows, we can simulate an alteration to the discharge regime and estimate the effect on oyster reefs downstream.
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="OysterFlow"></button>

<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/water-quality.png">
		<h4 class="color-primary">Water Quality</h4>
	</div>
	<div class="ls-app-descs">
		Water Quality Resource Inventory: View spatial concentrations and temporal trends for water quality traits such as Dissolved Oxygen, Total Dissolved Solids, Nitrogen and Phosphorus. Spatial view maps concentrations of water quality sample data within 8-digit HUC watersheds.  Temporal view provides monthly and yearly mean value for traits at each sampling station. Additionally, 303d designations are mapped to LDEQ subsegments in the Impaired Watersheds View.
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="water-quality"></button>

<script>
	$(".ls-app-button").click(function(c){
		$(c.currentTarget).next().trigger("click")
	})
</script>
