<style>
	.ls-app-wraps{
		display:flex;
	}
	.ls-app-wraps h4{
		margin-left:10px; margin-top:10px;
	}
	.ls-app-wraps img{
		height:37px;
	}
	.ls-app-descs{
		margin-left:5px;
	}
	.ls-app-button{
		text-align:left; width:100%;
	}
	.ls-app-button span{
		font-weight:bold; color:#5E94B6;
	} 
	.ls-hide-button{
		display:none;
	}
</style>

<h2>Louisiana</h2>
<div>
    The Louisiana Freshwater Assessment is a multi-tool platform that provides a wealth of information on the quality and quantity of water flowing down Louisiana’s bayous, rivers and streams and the potential effects of future changes in climate and water use on that water flow. For additional project information, visit the <a href="https://freshwaternetwork.org/" target="_blank"><b>freshwatenetwork.org</b></a>.
</div>

<h3>Get Started</h3>

<div class="button ls-app-button">	
	<div class="ls-app-wraps">
		<img src="img/hydroFlow.png">
		<h4 class="color-primary">Hydro Flows</h4>
	</div>
	<div class="ls-app-descs">
		A statewide hydrologic model for Louisiana’s watersheds. 
	</div>
</div>	
<button class="button launch-plugin ls-hide-button" data-plugin-name="HydroFlow"></button>

<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/OysterFlow.png">
		<h4 class="color-primary">Oyster Flows</h4>
	</div>	
	<div class="ls-app-descs">
		Investigate the relationship between river discharge and the health of oyster reefs over 100 miles away.
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="OysterFlow"></button>

<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/water-quality.png">
		<h4 class="color-primary">Water Quality Resource Inventory</h4>
	</div>
	<div class="ls-app-descs">
		View spatial concentrations and temporal trends for water quality traits such as Dissolved Oxygen, Total Dissolved Solids, Nitrogen and Phosphorus. 
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="water-quality"></button>
<div class="button ls-app-button">
	<div class="ls-app-wraps">
		<img src="img/cda-icon.png">
		<h4 class="color-primary">Conservation Delivery Application</h4>
	</div>
	<div class="ls-app-descs">
		Need descrptive text here.....
	</div>
</div>
<button class="button launch-plugin ls-hide-button" data-plugin-name="conservation-delivery-application"></button>

<script>
	$(".ls-app-button").click(function(c){
		$(c.currentTarget).next().trigger("click")
	})
</script>
